<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../styles/home.css">
    <script src="../js/home.js"></script>
</head>

<body>
    <header>
        <h1>Bienvenido, <span id="username"></span></h1>
    </header>

    <main>
        <section class="numCuenta">
            <!-- <h2>Número de Cuenta</h2> -->
            <p><strong>IBAN:</strong> <span id="iban"></span></p>
        </section>


        <section class="balance">
            <h2>Saldo Actual</h2>
            <p>Saldo: €<span id="balance"></span></p>
        </section>

        <section class="actions">
            <h2>Acciones</h2>
            <form id="formMoves">
                <label for="depositAmount">Cantidad a depositar:</label>
                <input placeholder="200" type="number" id="depositAmount" name="depositAmount" min="1" required>
                <button id="withdrawBtn" type="submit">Retirar Dinero</button>
                <button id="depositBtn" type="submit">Depositar dinero</button>
            </form>
        </section>

        <h2 class="title-transaction">Últimos movimientos</h2>
        <div class="transaction-header">
            <div>Tipo de Transacción</div>
            <div>Cantidad</div>
            <div>Fecha Movimiento</div>
        </div>
        <section class="transactions">

        </section>



    </main>

    <footer>

    </footer>


</body>

</html>