<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <script src="../js/loginLogic.js"></script>
</head>

<body>
    <h1>Log In Menu</h1>
    <div>
        <form id="form" method="post">
            <label for="user">Usuario:</label>
            <input type="text" name="username" id="username" placeholder="Usuario" id="username" required>
            <br>
            <label for="user">Contraseña:</label>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <br>
            <button id="formi" type="submit">Enviar</button>
        </form>
    </div>
</body>

</html>